@import "settings/main";

.index {
    font-size: .75rem;
}

.wrapper {
    @include wrapper;
    display: flex;
    flex-direction: column;
    @include media-query(tablet) {
        flex-direction: row;
        margin-top: 8.5rem;   
    }
}

.crypto {
    @include media-query(tablet) {
        width: grid(7);     
        margin-left: auto;
        flex-grow: 0;
    }
}

.hintsList {
    @include list-reset;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hint {
    @include font(body-hint);
    cursor: pointer;
}

.hintHighlight {
    text-decoration: underline;
}

.actions {
    @include wrapper;
    margin-top: 3rem;
}

.reset {
    text-align: center;
    padding: 1.5rem;
    border: 1px solid $primary-color;
    background-color: $contrast-color;
    color: $primary-color;
    transition: background-color .2s ease-out, color .2s ease-out;
    cursor: pointer;
    @include font(body-hint);
}

.reset:hover,
.reset:focus {
    color: $contrast-color;
    background-color: $primary-color;
}