@import "settings/main";

.cell {
    transition: all .1s ease-out;
    position: relative;
}

.cell input {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
    color: $black;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    transition: all .1s ease-out;
}

.cell input::selection {
    background-color: transparent;
}

.cell input:focus,
.cell input:focus-visible,
.cell input:focus-within {
    @include media-query(tablet) {
        background-color: $black;
        color: $white;
    }
}

.cellRect {
    stroke-width: .5;
    stroke: $black;
    fill: transparent;
}

.cellRectActive {
    fill: rgba($blue, .3);
}

.cellRectColoured {
    fill: $blue;
}

.cellText {
    font-size: .5rem;
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    fill: $black;
}

.label {
    @include visually-hidden;
}

/* =========================================================================  */
/* Highligt */
/* =========================================================================  */
.cellHighlight .cellText {
    @include media-query(tablet) {
        fill: $white;
    }
}