/* =========================================================================  */
/* Neutral colors */
/* =========================================================================  */
$black: #0F0F0F;
$white: #FFFFFF;

/* =========================================================================  */
/* Colors */
/* =========================================================================  */
$blue: #C0F7FF;

/* =========================================================================  */
/* Aliases */
/* =========================================================================  */
$primary-color: $black;
$contrast-color: $white;
