/* =========================================================================  */
/* App variables */
/* =========================================================================  */

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/functions/_inline-svg.scss
*/
$fs-escape-chars: (
    ' ': '%20',
    '\'': '%22',
    '"': '%27',
    '#': '%23',
    '/': '%2F',
    ':': '%3A',
    '(': '%28',
    ')': '%29',
    '%': '%25',
    '<': '%3C',
    '>': '%3E',
    '\\': '%5C',
    '^': '%5E',
    '{': '%7B',
    '|': '%7C',
    '}': '%7D',
);

/**
* SVG icon map to be used with the `svg` function
*/
$svg-icons: (
    example-icon: '<svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.13 4.82l6.8-4.17c.15-.07.27-.1.36-.07.1 0 .2.1.33.28l.5.8c.2.3.13.56-.18.75l-6.8 4.72c-.1.05-.2.1-.33.14-.12.05-.3.07-.54.07h-.36c-.19 0-.33 0-.43-.03a.85.85 0 0 1-.36-.18L.32 2.4C0 2.22-.06 1.97.14 1.66l.5-.8C.76.67.87.58.96.58c.1-.03.22 0 .36.07l6.8 4.17z"/></svg>',
    arrow: '<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.9093 6.85786L10.896 1.78568C10.7909 1.67866 10.7318 1.53389 10.7318 1.38298C10.7318 1.23208 10.7909 1.08731 10.896 0.980294L11.692 0.169202C11.7445 0.115665 11.807 0.0731716 11.8758 0.0441729C11.9446 0.0151742 12.0184 0.000244141 12.0929 0.000244141C12.1674 0.000244141 12.2412 0.0151742 12.31 0.0441729C12.3788 0.0731716 12.4412 0.115665 12.4937 0.169202L19.833 7.5947C19.8859 7.6478 19.9279 7.71097 19.9566 7.78058C19.9852 7.85018 20 7.92484 20 8.00024C20 8.07565 19.9852 8.15031 19.9566 8.21991C19.9279 8.28952 19.8859 8.35269 19.833 8.40579L12.4937 15.8313C12.4412 15.8848 12.3788 15.9273 12.31 15.9563C12.2412 15.9853 12.1674 16.0002 12.0929 16.0002C12.0184 16.0002 11.9446 15.9853 11.8758 15.9563C11.807 15.9273 11.7445 15.8848 11.692 15.8313L10.896 15.0202C10.7909 14.9132 10.7318 14.7684 10.7318 14.6175C10.7318 14.4666 10.7909 14.3218 10.896 14.2148L15.9093 9.14263H0.56456C0.41483 9.14263 0.271232 9.08245 0.165356 8.97533C0.0594804 8.86821 0 8.72293 0 8.57144V7.42905C0 7.27756 0.0594804 7.13228 0.165356 7.02516C0.271232 6.91804 0.41483 6.85786 0.56456 6.85786H15.9093ZM16.9368 7.90314V8.09735L17.0384 8.00024L16.9368 7.90314Z" fill="black"/></svg>'
);
